@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Masthead -->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">
            Bienvenidos a Utopia Beauty Salon!
        </div>

        @* Si luego quieres algún botón aquí, se agrega *@
        @*
            <a class="btn btn-primary btn-xl text-uppercase">
                Ver más
            </a>
        *@
    </div>
</header>
